@model AkademiPlus_Transportation.Models.TblProduct
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<h2>Ürün Bilgileri Güncelle</h2>

<form method="post">
    <br />
    @*<label>KategoriID</label>*@
    @Html.HiddenFor(x => x.ProductID)
    <br />
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    <label>Ürün Paketleme Bilgisi</label>
    @Html.TextBoxFor(x => x.ProductSizeType, new { @class = "form-control" })
    <br />
    <label>Ürün Miktarı</label>
    @Html.TextBoxFor(x => x.ProductSize, new { @class = "form-control" })
    <br />
    <label>Ürün Bilgileri</label>
    @Html.TextAreaFor(x => x.ProductDescription, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>

</form>