


@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHeader")

<body>
   
    @Html.Action("PartialNavbar")
    <!--//Header-->
    <!--/Banner-Start-->
    <!-- main-slider -->
    @Html.Action("PartialSlider")
    <!-- //main-slider -->
    <!--/grids-->
    @Html.Action("PartialAbout")
    <!--//grids-->
    <!--/w3-grids-->
    @Html.Action("PartialDetails")
    <!--//w3-grids-->
    <!--/video-->
    @Html.Action("PartialMap")
    <!--//video-->
    <!-- features section -->
    @Html.Action("PartialServices")
    <!--//features section -->
    <!--/w3l-grids-->
    @Html.Action("PartialServicesType")
    <!--//w3l-grids-->
    <!--/testimonials-->
    @Html.Action("PartialTestimonials")
    <!--//testimonials-->
    <!--/w3l-newsletter-->
    @Html.Action("PartialNewsLetter")
    <!--//w3l-newsletter-->
    <!--/footer-9-->
    @Html.Action("PartialFooter")
    //footer-9
    Template JavaScript
    @Html.Action("PartialScript")
</body>

</html>
